:host{
    .info{
        .alert{
            padding: 0.5rem 0.75rem;
        }
        .details{
            .list-group{
                .list-group-item{
                    border: none;
                    padding: 0.5rem 0.75rem;
                }
                
            }
        }
    }
}