:host{
    .success{
        .details{
            .message{
                text-align: center;
                font-weight: bold;
                margin-top: 20px;
                font-size: 1rem;
            }
        }
    }
}